#data-display {
  margin: auto;

  padding: 15px;
}

#data-display th {
  border-bottom: 1px solid #00adbb;
  padding: 3px;
}

#data-display td {
  padding: 10px;
}

.tr:nth-child(odd) {
  border-bottom: 1px solid #00adbb;
  padding: 3px;
  background-color: rgba(240, 144, 131, 0.1);
}

/* .srcImgs {
  border-radius: 70px;
  padding: 10px;
  vertical-align: middle;
} */

/* .imgUsersSub {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .imgUsers {
  position: relative;
  top: 50%;
  transform: translateY(50%);
} */
