.profile {
  padding: 50px;
}

.profImage {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.imgProf {
  transform: translateY(-150px);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.ment {
  text-align: left;
}

.contanerProf {
  margin: auto;
  width: 800px;
}

.colour {
  color: #092b7e;
}
