.containerForm {
  background-image: linear-gradient(
    180deg,
    rgba(215, 226, 255, 1),
    rgba(255, 0, 0, 0)
  );
}

.hide {
  display: none;
}

.btnsForm {
  background-color: #147592;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.btnsForm:hover {
  background-color: #03234d;
}

.btnsCloseForm {
  background-color: #147592;
  color: white;
  border: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 100px;
}

.btnsCloseForm:hover {
  background-color: #03234d;
}

.form {
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #147592;
  height: auto;
}

input {
  width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
  border-bottom: solid 1px #00adbb;
}

label {
  margin: 5px;
  text-align: left;
  float: left;
}

.field {
  margin: 70px;
}

.subForm {
  display: flex;
}

.h1Form {
  color: #092b7e;
}

.formTitleMentee {
  text-align: left;
  color: #147592;
}

.formTitleMentor {
  text-align: left;
  color: #147592;
}

.formImage {
  background-image: url(../../imgs/home.JPG);
  height: 100%;
  width: auto;
}
