/* body {
  
background: url('https://cdn.dribbble.com/users/1647667/screenshots/13994154/media/a90aab4e64f4c96cc62b3618c8017be9.jpg');
background-repeat: no-repeat;
} */

.matchImg img {
  z-index: -1;
  position: relative;
}

.containerMatch {
  background-image: linear-gradient(
    180deg);
    /* background-color:  rgba(215, 226, 255, .5), */
}

.h1Match {
  padding: 20px;
  color: #092b7e;
}
